@media(min-width:992px){.page-wrapper{margin-top:-105px !!important} }
.main-nav>ul>li.has-drop>.lvl-1 { font-size: 18px; text-transform: capitalize; font-weight: 500;}
.top-bar {display: none}
.user-login .login { background-color: transparent !important;padding: 19px 0px 14px 5px !important; font-size: 18px; text-transform: capitalize; font-weight: 500; }
.user-login .login i { display: none !important }
.BG { background: #101928 }
@media (min-width: 992px){.banner-slider { position: relative !important } }
.rating { display: flex; align-items: center; justify-content: center;margin-top: 25px }
.star{ margin-left: 3px; width: 30px; height: 30px; background-size: 16px 16px; background-color: rgb(0, 182, 122); background-image: url(../img/star.svg); border-radius: 4px; background-position: center center; background-repeat: no-repeat; }